html {
    font-size: 62.5%;
}

body,
button {
    font-size: 1.6rem;
}

.wrapper,
a {
    font-size: 1.6rem;
}

.especialidade-medico-content {
    display: flex;
    margin: 12px;
    width: 90%;
    max-width: 680px;
}

.especialidade-medico-content h1 {
    font-size: 3rem;
}

.especialidade-medico-content p {
    font-size: 1.5rem;
}

.right-sidebar {
    padding-left: 2.0rem;
}

@keyframes appearFromTop {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.table {
    animation: appearfromTop;
}

.tb {
    display: table;
    width: 100%;
}

.td {
    display: table-cell;
    vertical-align: middle;
}

input,
button {
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
    button span {
        top: 8rem;
    }
}

@media (max-width: 479px) {
    body {
        display: flex;
    }
    html {
        font-size: 40%;
    }
    .especialidade-medico-content {
        text-align: center;
        flex-direction: column;
    }
    button span {
        top: 9.2rem;
    }
}