.especialidade-medico {
  width: 100%;
  min-height: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 1226px;
  margin-right: auto;
}
.especialidade-medico .especialidade-medico-content {
  margin-top: 20px;
  display: -webkit-box;
  display: flex;
}

.left-sidebar {
  position: static;
  float: left;
  padding: 10px;
  flex-basis: 280px;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  flex-grow: 0;
  border-right: 1px solid #bdbdbd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1.underlined-left, h2.underlined-left, h3.underlined-left, h4.underlined-left {
  text-align: left;
  padding-bottom: 20px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  text-align: center;
}

.right-sidebar {
  float: right;
  padding-right: 230px;
  flex-grow: 1;
}

.search-wrapper {
  height: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 30px;
}

.modalidade {
  padding-right: 15px;
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.modalidade select {
  font-family: Roboto;
  font-style: normal;
  font-weight: 50;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  z-index: 9;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 2;
  background: #fff;
  border: 1px solid #bdbdbd;
  will-change: border;
  -webkit-transition: border 250ms cubic-bezier(.19,1,.22,1);
  transition: border 250ms cubic-bezier(.19,1,.22,1);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.modalidade select::-ms-expand {
  display: none;
}
.modalidade select:hover,
.modalidade select:focus {
  color: #000;
  background: rgb(255, 255, 255);
}
.modalidade select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select-arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.modalidade select:hover ~ .select-arrow,
.modalidade select:focus ~ .select-arrow {
  border-top-color: #000;
}
.modalidade select:disabled ~ .select-arrow {
  border-top-color: #ccc;
}

.especialidade-medico-content .modalidade {
  max-width: 250px;
  -webkit-box-flex: 1.5;
  flex: 1.5;
  margin-bottom: 0;
  z-index: 2;
  position: relative;

}

.especialidade, .clinica {
  background-color: #b3b3b3;
  border-color: transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  cursor: not-allowed;
  pointer-events: none;
  border-radius: 4px;

}

.especialidade-button, .clinica-button {
  padding: 7.5px;
  height: 100%;
  text-align: left;
  min-width: 200px;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: 50;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.searchbox-container {
  margin-top: 20px;
}

.searchbox {
  width: 100%;
  border-color: transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  cursor: not-allowed;
  pointer-events: none;
  border-radius: 4px;
}

::placeholder {
  height: 100%;
  padding: 7.5px;
}
